<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordered Placed</title>
    <link rel="stylesheet" href="/bootsp/css/bootstrap.min.css">


</head>
<body>
    <div>
        <div class="row ">
            <h1 class=" text-danger d-flex justify-content-center "> Your Order is Placed</h1>
        </div>
        <div class="row">
            <h3 class="d-flex justify-content-center"> Your Order is  Delivared within Week !</h3>
        </div>
        <div class="row">
            <h6 class="d-flex justify-content-center">  Stay Happy..... !</h6>
        </div>

        <div class="row d-flex justify-content-center">
            <button class="btn btn-primary rounded-4" style="width: 10rem;" >Back To Home</button>
        </div>
        
    </div>
</body>
</html>