<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootsp/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/HomePage.css">
    <link rel="stylesheet" href="/css/ProductContent.css">
    <link rel="stylesheet" href="/css/add_to_cart.css">


    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
    
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" >Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <!-- collapse -->
      </button>
      <div class="collapse navbar-collapse serachBox" id="navbarScroll">
        <form class="d-flex serachBox_input" role="search">
          <input class="form-control me-0 serachBox_input but" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success serachBox_button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      <form class="form-inline my-2 my-lg-0">
         <a class="navbar-brand  text text-danger"  th:href="@{/logout}">Logout</a>
        <a class="navbar-brand" data-bs-toggle="modal" href="#exampleModalToggle"><i class="fa-user-pen"></i></a>
        <a class="navbar-brand" href="/userpage/cart_item">  <i class="fa-solid fa-cart-shopping"></i></a>
      </form> 
      
      
    </div>
  </nav>
      <div class="container carosole_margin p-0"  th:each="p : ${ProductDescription}">
        <div class="row">
            <div class="col-6 m-0 p-0">



              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img th:src="@{${'/image/'+p.ProductImg1}}" class="d-block w-100  img_calss m-0 p-0" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img th:src="@{${'/image/'+p.ProductImg2}}" class="d-block w-100 img_calss m-0 p-0" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img th:src="@{${'/image/'+p.ProductImg3}}" class="d-block w-100 img_calss m-0 p-0" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              
            </div>

            <div class="col-6 m-0 p-5">
                <div class="row">
                <h2 class="text-uppercase" th:text="${p.ProductName}" >CLEAR FACTOR SHOES</h2>
                <p class=" text-capitalize" > Wikipedia is a multilingual free online encyclopedia written and maintained by a community of volunteers,
                   known as Wikipedians, through open collaboration and using a wiki-based editing system. 
                   Wikipedia is the largest and most-read reference work in history.</p>
                <h5 class="text-bold"> Price:  <span th:text="${p.ProductPrice}"></span></h5>
                </h1>



                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                     
                      <div class="row mt-3">
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="carousel-item">
                      
                      <div class="row mt-3">
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="carousel-item">
                      
                      <div class="row mt-3">
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>



                
                <b class="mb-3 mt-3 " > Sizse: <span th:text="${p.ProductSize}">  </span> </b>
                <!-- <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" class="btn-check border-0" name="btnradio" id="btnradio1" autocomplete="off" checked>
                  <label class="btn btn-outline-primary border-0" for="btnradio1">Radio 1</label>
                
                  <input type="radio" class="btn-check border-0" name="btnradio" id="btnradio2" autocomplete="off">
                  <label class="btn btn-outline-primary border-0" for="btnradio2">Radio 2</label>
                
                  <input type="radio" class="btn-check border-0" name="btnradio" id="btnradio3" autocomplete="off">
                  <label class="btn btn-outline-primary border-0" for="btnradio3">Radio 3</label>

                  <input type="radio" class="btn-check border-0" name="btnradio" id="btnradio4" autocomplete="off">
                  <label class="btn btn-outline-primary border-0" for="btnradio4">Radio 3</label>
                </div> -->

                
                <div class="btn-group mt-2" role="group" aria-label="Basic radio toggle button group">
                <button type="button" class="btn btn-primary btn-sm"   >Buy Now</button>
                <button type="button" class="btn btn-secondary btn-sm">Add to cart</button>
                </div>
              </div>
            </div>

          
        </div>
    </div>


      <script src="/bootsp/js/bootstrap.min.js"></script>
      <script src="/fontawesome/js/fontawesome.min.js"></script>
      <script src="/fontawesome/js/all.js"></script>
</body>
</html>